<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9ce916de-4927-48c9-9d00-d8388aae9f59/resourcegroups/GroupCompra/providers/Microsoft.Web/sites/SistemadeComprasP</ResourceId>
    <ResourceGroup>GroupCompra</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sistemadecomprasp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sistemadecomprasp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SistemadeComprasP</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SistemadeComprasP</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="&lt;add name=&quot;DefaultConnection&quot; connectionString=&quot;Server=tcp:compradb.database.windows.net,1433;Initial Catalog=SistemaComprasDB;Persist Security Info=False;User ID=steven;Password=Z@c5-6Hx;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot; providerName=&quot;System.Data.SqlClient&quot; /&gt;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SistemadeCompras.Models.ApplicationDbContext, SistemadeCompras" MigrationConfiguration="SistemadeCompras.Migrations.Configuration, SistemadeCompras" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>
        <add name="DefaultConnection" connectionString="Server=tcp:compradb.database.windows.net,1433;Initial Catalog=SistemaComprasDB;Persist Security Info=False;User ID=steven;Password=Z@c5-6Hx;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xmlns="" />
      </ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>