@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Compras</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Articulos</h2>
        <p>
            En esta seccion se tiene todos los articulos registrados dentro de la applicacion
            de compras.
        </p>
        <p><a class="btn btn-default" href="Articulos">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Proveedores</h2>
        <p>En esta seccion se tiene en lista todos los proveedores registrados dentro del sistema de compras.</p>
        <p><a class="btn btn-default" href="Proveedors">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ordenes de Compra</h2>
        <p>
            En esta seccion se tiene disponible todas las ordenes de compras realizadas y registradas dentro
            del sistema de compras.</p>
        <p><a class="btn btn-default" href="OrdenCompras">Ver &raquo;</a></p>
    </div>
</div>